<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-6">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h3 class="text-primary mb-4 text_info">Liên Hệ</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Số 35, ngách 93/15, Yên Sở, Hoàng Mai, Hà Nội</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>0838 882 883</p>
                    <p><i class="fa fa-envelope mr-2"></i>info@lamhai.net</p>
                    <!-- <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div> -->
                </div>
                <div class="col-md-6 mb-5">
                    <h3 class="text-primary mb-4 text_links">Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                        <a class="text-white mb-2" href="/bai-viet/gioi-thieu"><i class="fa fa-angle-right mr-2"></i>Giới
                            thiệu</a>
                        <a class="text-white mb-2" href="service.html"><i class="fa fa-angle-right mr-2"></i>Dịch vụ</a>
                        <a class="text-white mb-2" href="/tin-tuc"><i class="fa fa-angle-right mr-2"></i>Tin tức</a>
                        <a class="text-white" href="/lien-he"><i class="fa fa-angle-right mr-2"></i>Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-5">
            <!-- <h3 class="text-primary mb-4">Newsletter</h3>
                <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Sign Up</button>
                        </div>
                    </div>
                </div> -->

            <div class="fb-page" data-href="https://www.facebook.com/lamhai.com.vn" data-tabs="timeline" data-width=""
                data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/lamhai.com.vn" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/lamhai.com.vn">Công ty TNHH Tư vấn và Phát triển dịch vụ công nghệ
                        Lâm Hải</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
    style="border-color: #3E3E4E !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">&copy; <a href="#">Lâm Hải</a>. Dịch vụ hàng đầu.

                Thiết kế bởi <a href="https://lamhai.com.vn">Lâm Hải</a>
                <!-- <br>Distributed By: <a href="https://lamhai.com.vn" target="_blank">Lâm Hải</a> -->
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Social Button Start-->
<div class="social_button">
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>

        <a href="https://www.messenger.com/t/100001298029953" class="menu-item"> <i class="fab fa-facebook-messenger"
                style="padding-top: 35%;"></i> </a>
        <a href="https://zalo.me/0838882883" class="menu-item"> <img class="fa zalo" src="/img/zalo.png"
                style="width:50%; padding-top:25%"> </a>
        <a href="tel:+84832389988" class="menu-item"> <i class="fa fa-phone" style="padding-top: 33%;"></i> </a>
        <!-- <a href="#" class="menu-item"> <i class="fa fa-envelope" style="padding-top: 35%;"></i> </a> -->


    </nav>
</div>
<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none;">
    <defs>
        <filter id="shadowed-goo">

            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
            <feColorMatrix in="shadow" type="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
                result="shadow" />
            <feOffset in="shadow" dx="1" dy="1" result="shadow" />
            <feComposite in2="shadow" in="goo" result="goo" />
            <feComposite in2="goo" in="SourceGraphic" result="mix" />
        </filter>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feComposite in2="goo" in="SourceGraphic" result="mix" />
        </filter>
    </defs>
</svg>
<!-- Social Button End-->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>