<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Công ty <strong><span>Lâm Hải</span></strong>
    </div>
    <div class="credits">
        Quản lý Website công ty Lâm Hải
    </div>
</footer><!-- End Footer -->