<div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>0838 882 883</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>info@lamhai.net</small>
                <small class="px-3">|</small>
                <a class="text-white px-2" href="https://www.facebook.com/lamhai.com.vn">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white pl-2" href="https://www.youtube.com/channel/UCyRAAOz9_4QsP90txjmhD5A">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
       
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5 text-uppercase text-primary"><i class="logo"></i>
                <img src="/img/logo.png" class="img-logo" alt="Công ty TNHH Tư vấn và Phát triển Dịch vụ Công nghệ Lâm Hải" >
            </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="/" class="nav-item nav-link active">Trang chủ</a>
                <a href="/gioi-thieu" class="nav-item nav-link">Giới thiệu</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dịch vụ tư vấn</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        {{#each dichvu}}
                        <a href="/bai-viet/{{this.slug}}" class="dropdown-item">{{this.title}}</a>
                        {{/each}}
                    </div>
                </div>
                <a href="/tin-tuc" class="nav-item nav-link">Tin tức</a>
                <a href="/lien-he" class="nav-item nav-link">Liên hệ</a>
            </div>
            <div class="search_container">
                <form id="paginationForm" action="/tim-kiem" method="get">
                    <input type="text" class="search_input int-search" name="search" value="{{ searchTerm }}"
                        placeholder="Bạn cần tìm gì ?" />
                    <button class="search-btn btn-search-creat" type="submit">Tìm kiếm</button>
                </form>

            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->