<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Thống kê </span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/bai-viet">
       <i class="bi bi-journal-text"></i>
        <span>Bài Viết</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-heading">Pages</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/user/changepass">
        <i class="bi bi-person"></i>
        <span>Cá nhân</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/user/register">
        <i class="bi bi-card-list"></i>
        <span>Đăng ký</span>
      </a>
    </li><!-- End Register Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/user/login">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Đăng nhập</span>
      </a>
    </li><!-- End Login Page Nav -->


     <form action="/user/logout">
      <li class="nav-item">
        <a class="nav-link collapsed" >
          <i class="bi bi-box-arrow-in-right"></i>
         <button class="nav-link collapsed" style="border: none;">Đăng xuất</button>
        </a>
      </li><!-- End Login Page Nav -->
    </form>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/error">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->



  </ul>

</aside><!-- End Sidebar-->