{{> header}}
<div class="banner_container">
    <img class="banner" src="/img/banner-1.gif" alt="Công ty TNHH Tư vấn và Phát triển Dịch vụ Công nghệ Lâm Hải"
        style="height:auto; width:100%;">
</div>
<!-- Header End -->
<!-- About 1 Start -->
<div class="container-fluid py-5" style="background-color: #e4e4e4;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0 image_left"
                style="background-color: white; transition: transform 0.3s ease-in-out;">
                <img class="img-fluid w-100" src="/img/mang-tu-van-dn.jpg" alt="Mạng lưới tư vấn">
                <div class="bg-primary text-dark text-center p-4">
                    <h4 class="m-0">Công ty TNHH Tư vấn và</h4>
                    <h4 class="m-1">Phát triển Dịch vụ Công nghệ Lâm Hải</h4>
                    <p class="m-0">Dịch vụ tư vấn nông nghiệp</p>
                </div>
            </div>
            <div class="text_about_1">
                <h4 class="text-primary text-uppercase font-weight-bold" style="text-align: center;">Về công ty Lâm Hải
                </h4>
                <!-- <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1> -->
                <p class="mb-4" style="text-align: center;">
                    Công ty TNHH Tư vấn và Phát triển dịch vụ công nghệ Lâm Hải được thành lập bởi những chuyên gia hàng
                    đầu trong lĩnh vực công nghệ,
                    nông nghiệp hiện đại với mong muốn đem đến những giá trị thực cho khách hàng, hỗ trợ tuyệt đối cho
                    người nông dân.
                </p>
                <p class="mb-4" style="text-align: center;">
                    Công ty Lâm Hải cung cấp dịch vụ tư vấn về mọi mặt liên quan đến lĩnh vực nông nghiệp, từ hoàn thiện
                    sản phẩm,
                    hoàn thiện bao bì nhãn mác, tạo dựng thương hiệu và nâng cao chất lượng đáp ứng các tiêu chuẩn trong
                    nước và quốc tế, hướng tới xuất khẩu nông sản.
                </p>
                <div class="d-flex align-items-center pt-2">
                    <button type="button" class="btn-play" data-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                        <!--Thay link clip giới thiệu cty-->
                        <span></span>
                    </button>
                    <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About 1 End -->

<!-- About 2 Start -->
<div class="container-fluid py-5" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row align-items-center">
            <div class="text_about_2">
                <h4 class="text-primary text-uppercase font-weight-bold" style="text-align: center;">Tham gia mạng lưới
                    tư vấn</h4>
                <!-- <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1> -->
                <p class="mb-4" style="text-align: center;">
                    Công ty TNHH Tư vấn và Phát triển Dịch vụ Công nghệ Lâm Hải trở thành một trong ba đơn vị đầu tiên
                    được tham gia vào mạng lưới tư vấn của Cục Phát triển doanh nghiệp – Bộ Kế hoạch và Đầu tư.
                </p>
            </div>
            <div class="image_about_2" style="background-color: white; transition: transform 0.3s ease-in-out;">
                <img class="img-fluid w-100" src="/img/mang-tu-van-dn.jpg" alt="Mạng lưới tư vấn">
            </div>
        </div>
    </div>
</div>
<!-- About 2 End -->

<!--  Quote Request Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="quote_left">
                <h1 class="mb-4">Nhận tư vấn miễn phí</h1>
                <p class="mb-4">Hãy để lại thông tin để chúng tôi có thể liên hệ tư vấn miễn phí cho bạn!</p>
                <div class="row">
                    <div class="col-sm-4">
                        <h1 class="text-primary mb-2" data-toggle="counter-up">50</h1>
                        <h6 class="font-weight-bold mb-4">Chuyên gia</h6>
                    </div>
                    <div class="col-sm-4">
                        <h1 class="text-primary mb-2" data-toggle="counter-up">1050</h1>
                        <h6 class="font-weight-bold mb-4">Khách hàng hài lòng</h6>
                    </div>
                    <div class="col-sm-4">
                        <h1 class="text-primary mb-2" data-toggle="counter-up">2500</h1>
                        <h6 class="font-weight-bold mb-4">Dự án hoàn thành</h6>
                    </div>
                </div>
            </div>
            <div class="quote_right">
                <div class="bg-primary py-5 px-4 px-sm-5">
                    <form class="py-5">
                        <div class="form-group">
                            <input id="sendername" type="text" class="form-control border-0 p-4"
                                placeholder="Họ và tên" />
                        </div>
                        <div class="form-group">
                            <input id="replyto" type="email" class="form-control border-0 p-4" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input id="sdt" type="number" class="form-control border-0 p-4"
                                placeholder="Số điện thoại" />
                        </div>
                        <div class="form-group">
                            <select id="message" class="custom-select border-0 px-4" style="height: 47px;">
                                <option selected>Dịch vụ</option>
                                <option value="Tư vấn hoàn thiện hồ sơ OCOP">Tư vấn hoàn thiện hồ sơ OCOP</option>
                                <option value="Tư vấn hỗ trợ doanh nghiệp nhỏ và vừa">Tư vấn hỗ trợ doanh nghiệp nhỏ và
                                    vừa</option>
                                <option value="Tư vấn chương trình nông thôn mới">Tư vấn chương trình nông thôn mới
                                </option>
                                <option value="Tư vấn xuất khẩu nông sản">Tư vấn xuất khẩu nông sản</option>
                                <option value="Tư vấn du lịch sinh thái">Tư vấn du lịch sinh thái</option>
                                <option value="Tư vấn nông nghiệp thông minh">Tư vấn nông nghiệp thông minh</option>
                            </select>
                        </div>
                        <div>

                        </div>
                    </form>
                    <button onclick="Lienhe()" class="btn btn-dark btn-block border-0 py-3">Gửi thông
                        tin</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote Request Start -->
<!-- Services Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h1 class="mb-4">DỊCH VỤ TƯ VẤN TẬN TÂM</h1>
            <h6 class="text-primary text-uppercase font-weight-bold">Đem lại giá trị thực cho khách hàng</h6>
        </div>
        <!--Slider dịch vụ-->
        <div id="slider" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
                <li data-target="#slider" data-slide-to="3"></li>
                <li data-target="#slider" data-slide-to="4"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/tu-van-nong-nghiep-thong-minh_page-0001-scaled.jpg"
                        alt="Tư vấn nông nghiệp thông minh" width="1100" height="500">
                    <!-- <div class="carousel-caption">
                      <h3>Tư vấn nông nghiệp thông minh</h3>
                    </div>    -->
                </div>
                <div class="carousel-item">
                    <img src="/img/du-lich-sinh-thai.png" alt="Tư vấn du lịch sinh thái" width="1100" height="500">
                    <!-- <div class="carousel-caption">
                      <h3>Tư vấn du lịch sinh thái</h3>
                    </div>    -->
                </div>
                <div class="carousel-item">
                    <img src="/img/tu-van-hoan-thien-san-pham-ocop.png" alt="Tư vấn hoàn thiện sản phẩm OCOP"
                        width="1100" height="500">
                    <!-- <div class="carousel-caption">
                      <h3>Tư vấn hoàn thiện sản phẩm OCOP</h3>
                    </div>    -->
                </div>
                <div class="carousel-item">
                    <img src="/img/dich-vu-tu-van-nong-thon-moi.png" alt="Tư vấn nông thôn mới" width="1100"
                        height="500">
                    <!-- <div class="carousel-caption">
                      <h3>Tư vấn chương trình nông thôn mới</h3>
                    </div>    -->
                </div>
                <div class="carousel-item">
                    <img src="/img/tu-van-xuat-khau-nong-nghiep1.png" alt="Tư vấn xuất khẩu nông sản" width="1100"
                        height="500">
                    <!-- <div class="carousel-caption">
                      <h3>Tư vấn xuất khẩu nông sản</h3>
                    </div>    -->
                </div>
            </div>
            <a class="carousel-control-prev" href="#slider" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slider" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Features Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="image_feature">
                <img class="img-fluid w-100" src="/img/why_choose_us.jpeg" alt="Vì sao lựa chọn chúng tôi">
            </div>
            <div class="text_feature">
                <!-- <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6> -->
                <h3 class="mb-4" style="color:rgb(243, 75, 75);">Lý do lựa chọn chúng tôi</h3>
                <!-- <p class="mb-4">Chúng tôi luôn đặt cái tâm của người làm nông nghiệp lên hàng đầu để tư vấn cho các bác nông dân những điều phù hợp nhất.</p> -->
                <ul class="list-inline">
                    <li>
                        <span class="far fa-check-circle text-primary mr-3"
                            style="font-weight: bold; color:green"></span>
                        <span class="bold-text" style="font-weight:bold;font-size:19px; color:black">Dịch vụ tận
                            tâm</span>
                    </li>
                    <li>
                        <span class="far fa-check-circle text-primary mr-3"
                            style="font-weight: bold; color:green"></span>
                        <span class="bold-text" style="font-weight:bold;font-size:19px; color:black">Luôn ưu tiên lợi
                            ích của khách hàng</span>
                    </li>
                    <li>
                        <span class="far fa-check-circle text-primary mr-3"
                            style="font-weight: bold; color:green"></span>
                        <span class="bold-text" style="font-weight:bold;font-size:19px; color:black">Chuyên nghiệp - Uy
                            tín</span>
                    </li>
                    <li>
                        <span class="far fa-check-circle text-primary mr-3"
                            style="font-weight: bold; color:green"></span>
                        <span class="bold-text" style="font-weight:bold;font-size:19px; color:black">Năng động - Sáng
                            tạo</span>
                    </li>
                </ul>
                <!-- <a href="" class="btn btn-primary mt-3 py-2 px-4">Learn More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center pb-2">
            <!-- <h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6> -->
            <h1 class="mb-4">Khách hàng nói gì về chúng tôi</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="/img/ttbgroup_logo.png"
                        style="width: 60px; height: 60px;" alt="TTB Group">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">TTB Group</h6>
                        <small>- Doanh nghiệp</small>
                    </div>
                </div>
                <p class="m-0">Chúng tôi lựa chọn công ty Lâm Hải tư vấn hồ sơ OCOP rất cẩn thận, công ty tôi đã đã chấm
                    đạt OCOP 4 sao.</p>
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="/img/hai_yen.jpeg" style="width: 60px; height: 60px;"
                        alt="Hợp tác xã Hải Yến">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Hợp tác xã chè Hải Yến</h6>
                        <small>- Hợp tác xã</small>
                    </div>
                </div>
                <p class="m-0">Các bạn tư vấn rất tận tâm, nhiệt huyết, điều đó khiến tôi luôn tin tưởng vào các thiết
                    kế cũng như sự tư vấn của công ty.</p>
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="/img/tinh_dau_huong_thao.jpeg"
                        style="width: 60px; height: 60px;" alt="Tinh dầu hương thảo">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Tinh dầu hương thảo</h6>
                        <small>- Doanh nghiệp</small>
                    </div>
                </div>
                <p class="m-0">Công ty Lâm Hải đã hỗ trợ tôi rất nhiều trong việc hoàn thiện sản phẩm và xúc tiến thương
                    mại.</p>
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="/img/chu_vy.jpeg" style="width: 60px; height: 60px;"
                        alt="chuối tây lai">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Chú Vỹ</h6>
                        <small>- Hợp tác xã</small>
                    </div>
                </div>
                <p class="m-0">Sản phẩm chuối tây lai của chúng tôi đã được công ty Lâm Hải hỗ trợ xúc tiến thương mại
                    rất tốt.</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <!-- <h6 class="text-primary text-uppercase font-weight-bold">Our Blog</h6> -->
            <h1 class="mb-4">Tin tức mới nhất về công ty Lâm Hải</h1>
        </div>
        <div class="row">
            {{#each TintucNew}}
            <div class="col-md-6 mb-5 ">
                <div class="image_left-new" style="background-color: white; transition: transform 0.3s ease-in-out;">
                    <div class="position-relative">
                        <img class="img-fluid w-100 responsive-image" src="/{{this.image}}" alt=""
                            style="border-radius:5px 5px 0px 0px ;object-fit: cover;     ">
                        <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center "
                            style="width: 150px; height: 50px; bottom: -30px; right: 30px; border-radius:5px">
                            <h4 class="font-weight-bold mb-n1">{{this.createdAt}}</h4>
                        </div>
                    </div>
                    <div class="bg-secondary" style="padding: 30px;  border-radius: 0px 0px 5px 5px ">

                        <h4 class="font-weight-bold mb-3">{{{truncateDescriptionTitle this.title}}} ...</h4>

                        <a class="border-bottom border-primary text-uppercase text-decoration-none"
                            href="/bai-viet/{{this.slug}}">Đọc thêm <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Blog End -->

<!--Cooperate Start-->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center pb-2">
            <!-- <h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6> -->
            <h1 class="mb-4">Đơn vị hợp tác</h1>
        </div>
        <div class="owl-carousel cooperate-carousel">
            <div class="position-relative">
                <img class="img_cooperate" src="/img/ocop_hung_yen.jpeg" style="width:80%; padding-left: 15%;">
            </div>
            <div class="position-relative">
                <img class="img_cooperate" src="/img/ocop_nam_dinh.png" style="width:80%; padding-left: 15%">
            </div>
            <div class="position-relative">
                <img class="img_cooperate" src="/img/cedate.png" style="width:105%; padding-left: 15% ">
            </div>
            <div class="position-relative">
                <img class="img_cooperate" src="/img/vuongan.png" style="width:95%; padding-left: 15%">
            </div>
            <div class="position-relative">
                <img class="img_cooperate" src="/img/ttbgroup_logo.png" style="width:95%; padding-left: 15%">
            </div>
            <div class="position-relative">
                <img class="img_cooperate" src="/img/che_hai_yen.jpeg" style="width:115%; padding: 20% 15% 20% 15%">
            </div>
            <div class="position-relative">
                <img class="img_cooperate" src="/img/nong_thon_moi.jpeg" style="width:85%; padding-left: 15%">
            </div>
        </div>
    </div>
</div>
{{> footer}}
<script src="/js/responsiveImage.js"></script>
<!--Cooperate End-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>
<!-- Template Javascript -->
<script src="js/main.js"></script>

{{!-- gửi thông tin liên hệ --}}
<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>
    function Lienhe() {
        (function () {
            emailjs.init("kVMpl1JqK905ZsLT2"); // Account Public Key
        })();
        var params = {
            sendername: document.querySelector('#sendername').value,
            //   subject: document.querySelector('#subject').value,

            sdt: document.querySelector('#sdt').value,
            replyto: document.querySelector('#replyto').value,
            message: document.querySelector('#message').value,
        };
        var serviceID = "service_h8cp27u"; // Email Service ID
        var templateID = "template_p4ikbhg"; // Email Template ID

        emailjs.send(serviceID, templateID, params)
            .then(res => {
                alert("Email đã được gửi thành công!!")
            })
            .catch();


    }
</script>